/*body and bg*/
body:not(.faq_body_total) {
    background-color: #D9F7FF; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(WW_images/bg_repeat.jpg);
    background-repeat: repeat-y;
    background-position: fixed;
    background-size: contain;
position: relative;
height:5100px;}

body {
  background-color: #D9F7FF; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url(../final_project/WW_images/bg_repeat.jpg);
  background-repeat: repeat-y;
  background-position: fixed;
  background-size: contain;
position: relative;}

a{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;}


/*Banner with big logo*/
.banner_container{ width: 100%; margin: 0 auto;text-align: center;}

.text_logo{padding-top: 2%;object-fit:contain;
    top: 0; left: 0; height: 40%; width: 40%;} 


/*Global nav of links*/
.global_nav_links{padding:1%;margin-top: 1%;
    top: 0; left: 0; text-align: center;background-color:#fff1dc;width: 40%;
    box-shadow: -10px 10px #7cd8ffb0; border-radius: 2%; float:right; }
    
.global_nav_links a {padding-left: 3%;padding-right: 3%; font-size:170%;color: #ffa89b;}

.global_nav_links a:hover{background-color: rgba(255, 224, 216, 0.836);padding-bottom: 1%;border-radius: 5%;transition: .3s ease;}
.global_nav_links a:active{color: rgb(255, 116, 81);padding-bottom: 1%;border-radius: 5%;}


/*main 1st body box*/
.body_box{height:900px;background-color: #ebfbff;width: 90%; margin: 0 auto;margin-bottom:2%;border-radius: 1%;margin-top: -2%;margin-bottom: 10%;}

.body_paragraph{padding-bottom: 0%;font-size:112%;line-height: 125%;padding-top: 1%; margin: 3%;
    width: 55%;color: #ffa89b;;background-color: #fff4e3ee;float: right;border-radius: 2%;}
.body_paragraph p {padding: 5%;float: none;padding-top: 1%;}
    
.model_gif{position: relative;height: 320px;float: left;margin:3%;border-radius: 2%;border-style: dashed;}

/*local links to galleries*/
.local_links_art_page{float: none;width: 90%;padding-top: 2%; margin: 3%;}
.local_links_art_page img:not(.suit_tall_icons){width: 40%;display: block;padding-bottom: 1%;padding-top: 1%;opacity: 82%;}
.local_links_art_page img:hover:not(.suit_tall_icons) {opacity: 100%;transition: .5s ease;box-shadow: -10px 10px #7cd8ffb0;}

/*Icon*/
.small_icon{position: fixed; bottom: 0px; right: 0px; height: 120px;margin: 15px;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay:calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;}

    /*gallery of art css*/

.head_of_divs{font-size: 50px;color: #ffa89b;padding: 2%;font-style: italic;text-decoration: underline;padding-top: 4%;}

#trad_art{background-color:#fff8ec;border-radius: 2%;width: 90%;margin: 0 auto;border-width: 6px;border-style: dashed;border-color: #ffa89bb0;}
#trad_art img {height: 240px;padding: 1%;border-radius: 2%;}
#trad_art img:hover {transition: .3s ease;height: 290px;padding: 1%;border-radius: 10%;height: 310px;}

.return_text a {font-size: 30px;color: #ffa89b;padding: 1%;font-style: italic;text-decoration: underline;padding-top: -1%;}
.return_text a:hover{background-color: rgba(255, 224, 216, 0.836);transition: .3s ease;border-radius: 3%;}

   /*gallery of art css*/
   #dig_art{background-color:#fff8ec;border-radius: 2%;width: 90%;margin: 0 auto;
    border-width: 6px;border-style: dashed;border-color: #ffa89bb0;margin-bottom: 10%;margin-top: 340px;}
   #dig_art img {height: 240px;padding: 1%;border-radius: 2%;}
   #dig_art img:hover {transition: .3s ease;height: 270px;padding: 1%;border-radius: 10%;height: 300px;}

  

/* open image button for suits pop up */
.open-button {
  width: 40%;display: block;padding-bottom: 1%;padding-top: 1%;opacity: 82%;
  border: none;
  cursor: pointer;}

/* The popup form*/
.form-popup {
  display: none;
  position:fixed;
  top: 50%; left: 50%;transform: translate(-50%, -50%);
  border: 3px dashed #ffa89b;
  z-index: 9;
  opacity: 1;
  animation: fadeIn 0.2s ease-in;}

/*form container */
.form-container {
  width: 900px; height: 600px;
  padding: 10px;
  background-color: #fff1dc;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/*Form images of suits style*/
.suit_tall_icons{max-height: 300px;float: left;padding: 20px;}


/* close button style */
.form-container .btn {
  background-color: #ffa89b;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.7;}

/*close button style 2*/
.form-container .cancel {
  background-color: #ffa89b;}

/* button hover */
.form-container .btn:hover {
  opacity: 1;}

   



 /*faq page separate css FOR FAQ.HTML*/
.faq_body_box{height:1050px;background-color: #ebfbff;width: 90%; margin: 0 auto;border-radius: 2%;color: #00374d;margin-top:2%;}

.com_questions{padding-top: 2%;border-radius: 2%;border-width: 10px;
    border-style:solid;border-color: #ebfbff;padding-bottom: 5%;}

.price_img{height: 400px;margin: 0 auto;border-radius: 2%;border-style: dashed;border-width: 5px;border-color: #297fa4;float: right;
margin: 3%;margin-top: 5%;transition: .3s ease;}
.price_img:hover{height: 500px;margin: 0 auto;border-radius: 2%;border-style: dashed;border-width: 5px;border-color: #4fc5f7;float: right;
  margin: 3%;margin-top: 5%;transition: .3s ease;}

.faq_price_heading{color: #1e6888; text-decoration: underline;padding:2%;;margin-bottom:-2%;margin: 0 auto;text-align: center;}
.faq_header{font-style: italic;;font-size:125%;line-height: 125%;text-align: center;color: #3EADDC;margin: 0 auto; }
.faq_para{font-style: italic;font-size:112%;line-height: 125%;padding-left:4%;text-align: center;width: 50%;}

.furry_questions{margin: 0 auto;text-align: center; width: 75%;font-style: italic;
    font-size:115%;line-height: 115%;background-color: #D9F7FF;padding: 15px;margin-bottom: 2%;border-radius: 2%;transition: .3s ease;}
    
.furry_questions:hover{margin: 0 auto;text-align: center; width: 90%;font-style: italic;
  font-size:125%;line-height: 115%;background-color: rgb(209, 244, 255);padding: 30x;margin-bottom: 5%;border-radius: 2%;transition: .3s ease;}
   
  .desc_info{margin: 0 auto; text-align: center;margin-bottom: 20px;color: #00374dae;font-size:100%}






    /*java*/
@keyframes rotate {
    to{
       transform: rotate(1080deg);
   }
}

body { -webkit-animation:fadein 0.7s; animation:fadein 0.7s }
@-webkit-keyframes fadein { from {opacity:0} to {opacity:1} }
@keyframes fadein { from {opacity:0} to {opacity:1} }



